section.dark {
    background: linear-gradient(#302b63, #0f0c29);
}

section.dark .container .icons i {
    background: #ffffff;
    color: #323840;
}

section.dark .container .icons i.fa-sun {
    opacity: 1;
    pointer-events: auto;
}

section.dark .container .sun-moon {
    background-color: transparent;
    box-shadow: 20px 20px 0 15px #A9A9A9;
}

section.dark .time .time-colon .time-text {
    background: #24292d;
}

section.dark .time .time-colon .text,
section.dark .time .time-colon .am-pm,
section.dark .time .time-text .num,
section.dark .time .colon {
    color: #ffffff;
}

section.dark .container .date {
    color: #ffffff;
}